$blue: #343BAA;
$pink: #F0BEFF;
$dark-pink: #FF00BA;

.color-blue {
  color: $blue;
}

.color-pink {
  color: $pink;
}

.bg-blue {
  background: $blue;
}

.bg-pink {
  background: $pink;
}

@mixin circleSize($s) {
  width: $s;
  height: $s;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin wheel-center-c-bgc($c, $bgc) {
  &::before {
    color: $c;
  }

  background:$bgc;
}

body {
  background: #5858b9;
  height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
}

.link-group {
  padding-top: 10px;
  margin-left: 10px;

  a {
    color: $pink;
    border: none;
    border-radius: 15px;
    padding: 12px ;
    font-size: 20px;
    margin: 20px 10px 0 0;
    cursor: pointer;

    &:hover {
      color: darken($pink, 10%);
    }
  }
}

.result-banner {
  width: 100%;
  height: 237px;
  background: $blue;
  @include absolute-center;
  z-index: -2;

  p {
    color: white;
    font-weight: bold;
    position: absolute;
    font-size: 72px;
  }

  .wheel-done {
    top: 40px;
    left: 158px;
  }

  .you-get-a-free {
    font-size: 32px;
    top: 57px;
    right: 101px;
  }

  .result-title {
    color: $dark-pink;
    text-decoration: underline;
    top: 95px;
    right: 173px;
  }
}

.container {
  @include circleSize(550px);
  @include absolute-center;
}

.wheel {
  @include circleSize(550px);
  border-radius: 505px;
  position: relative;

  &-outside {
    @include circleSize(550px);
    background-image: url('./image/wheel-outside.svg');
    background-size: cover;
    background-position: center;
  }

  &-center {
    @include circleSize(128px);
    border-radius: 50%;
    background: #1f1172;
    @include absolute-center;
    cursor: pointer;

    &:before {
      content: 'PRESS';
      @include absolute-center;
      color: $dark-pink;
      font-size: 30px;
      font-weight: bold;
    }

    &:hover {
      @include wheel-center-c-bgc(#1f1172, lighten($dark-pink, 20%));
    }

    &:active {
      @include wheel-center-c-bgc(darken($dark-pink, 10%), darken(#1f1172, 5%));
    }
  }

  &-hand {
    @include circleSize(100%);
    transform: rotate(0deg);
    transition: transform 4s cubic-bezier(.5, .1, .15, 1);

    &::before {
      content: '';
      @include circleSize(256px);
      position: absolute;
      left: 50%;
      top: -81.5%;
      transform: translateX(-50%);
      background-image: url('./image/hand.svg');
      background-position: center;
      background-repeat: no-repeat;

    }
  }

  // 內部資料
  &-inner {
    @include circleSize(550px);
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
  }

  &-item {
    @include circleSize(50%);
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: left bottom;

    // 基數
    &:nth-child(odd) {
      color: $blue;
      background: $pink;
    }

    // 偶數
    &:nth-child(even) {
      color: $pink;
      background: $blue;
    }

    &-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;

      width: 90px;
      height: 90px;
      transform: skewX(30deg) rotate(60deg);
      top: 47%;
      left: 25%;
    }

    &-title-prize20 {
      transform: skewX(72deg) rotate(81deg);
      top: 72%;
      left: 17%;
    }

    &-icons {
      font-size: 72px;
    }

    &-id {
      font-size: 28px;
      font-weight: bold;
    }

  }
}