$blue: #343BAA;
$pink: #F0BEFF;
$dark-pink: #FF00BA;
$max6: 6;
$max20: 20;


.color-blue {
  color: $blue;
}

.color-pink {
  color: $pink;
}

.bg-blue {
  background: $blue;
}

.bg-pink {
  background: $pink;
}

@mixin size($w, $h, $circle: false) {
  @if $circle {
    width: $w;
    height: $h;
    border-radius: 50%;
  }

  @else {
    width: $w;
    height: $h;
  }
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absolute-top-left($t, $l) {
  position: absolute;
  top: $t;
  left: $l;
}

@mixin wheel-center-c-bgc($c, $bgc) {
  &::before {
    color: $c;
  }

  background:$bgc;
}

header {
  background: $blue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

body {
  background: #5858b9;
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
}

.link-group {
  padding: 10px 0;
  margin-left: 10px;

  a {
    color: $pink;
    border: none;
    border-radius: 15px;
    padding: 12px;
    font-size: 20px;
    margin: 20px 10px 0 0;
    cursor: pointer;

    &:hover {
      color: darken($pink, 10%);
    }
  }
}

.result-banner {
  @include size(100%, 237px, $circle: false);
  @include absolute-center;
  background: $blue;
  z-index: -2;
  overflow: hidden;

  @media (max-width:375px) {
    display: none;
  }

  p {
    color: white;
    font-weight: bold;
    font-size: 72px;
  }

  .result-icon {
    position: relative;
    @include size(100%, 100%, $circle: false);

    li {
      font-size: 50px;
      color: #1F1172;
      opacity: 0.5;

      &:nth-child(1) {
        @include absolute-top-left(60%, -2%);
      }

      &:nth-child(2) {
        @include absolute-top-left(20%, 5%);
        transform: rotate(20deg);
      }

      &:nth-child(3) {
        @include absolute-top-left(86%, 9%);
        transform: rotate(-24deg);
      }

      &:nth-child(4) {
        @include absolute-top-left(-8%, 22%);
        transform: rotate(-28deg);
      }

      &:nth-child(5) {
        @include absolute-top-left(70%, 29%);

      }

      &:nth-child(6) {
        @include absolute-top-left(-6%, 75%);

      }

      &:nth-child(7) {
        @include absolute-top-left(86%, 78%);
        transform: rotate(45deg);
      }

      &:nth-child(8) {
        @include absolute-top-left(56%, 91%);
        transform: rotate(-19deg);

      }

      &:nth-child(9) {
        @include absolute-top-left(13%, 98%);
        transform: rotate(19deg);

      }
    }
  }

  .wheel-done {
    @include absolute-top-left(40px, 158px);
  }

  .you-get-a-free {
    font-size: 32px;
    @include absolute-top-left(57px, 1100px);
  }

  .result-title {
    color: $dark-pink;
    text-decoration: underline;
    @include absolute-top-left(95px, 1100px);
  }
}

.container {
  @include size(550px, 550px, $circle: false);
  @include absolute-center;

  @media (max-width:375px) {
    @include size(225px, 225px, $circle: false);
  }
}

.wheel {
  @include size(100%, 100%, $circle: true);
  position: relative;

  &-outside {
    @include size(100%, 100%, $circle: false);
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      @include size(100%, 100%, $circle: false);
      background-image: url('./image/wheel-outside.svg');
      background-size: cover;
      background-position: center;
    }
  }



  &-center {
    @include size(128px, 128px, $circle: true);
    background: #1f1172;
    @include absolute-center;
    z-index: 100;

    @media (max-width:375px) {
      @include size(50px, 50px, $circle: true);
    }

    &:before {
      content: 'PRESS';
      @include absolute-center;
      color: $dark-pink;
      font-size: 30px;
      font-weight: bold;

      @media (max-width:375px) {
        font-size: 14px;
      }
    }

    &:hover {
      @include wheel-center-c-bgc(#1f1172, lighten($dark-pink, 20%));
    }

    &:active {
      @include wheel-center-c-bgc(darken($dark-pink, 10%), darken(#1f1172, 5%));
    }
  }

  &-hand {
    @include size(100%, 100%, $circle: false);
    transform: rotate(0deg);
    transition: transform 4s cubic-bezier(.5, .1, .15, 1);

    &::before {
      content: '';
      @include size(256px, 256px, $circle: false);
      @include absolute-top-left(-81.5%, 50%);
      transform: translateX(-50%);
      background-image: url('./image/hand.svg');
      background-position: center;
      background-repeat: no-repeat;

      @media (max-width:375px) {
        @include size(100px, 100px, $circle: false);
        background-size: 61px;
        @include absolute-top-left(-88.6%, 50%);
      }
    }
  }

  // 內部資料
  &-inner {
    @include size(100%, 100%, $circle: true);
    position: relative;
  }

  &-item {
    @include size(100%, 100%, $circle: true);
    position: absolute;
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      @include size(50%, 100%, $circle: false);
      transform-origin: right center;
      z-index: -1;
    }

    // 基數
    &:nth-child(odd) {
      &::before {
        background: $pink;
      }

      color: $blue;
    }

    // 偶數
    &:nth-child(even) {
      &::before {
        background: $blue;
      }

      color: $pink;
    }

    &-title {
      height: 50%;
      text-align: center;
      padding-top: 40px;
      padding-right: 12px;
      transform-origin: bottom center;

      @media (max-width:375px) {
        padding-top: 20px;
        padding-right: 6px;
      }
    }

    .wheel-item-title-6 {
      padding-right: 40px;

      @media (max-width:375px) {
        padding-right: 20px;
      }
    }

    &-icons {
      font-size: 72px;

      @media (max-width:375px) {
        font-size: 36px;
      }
    }

    &-id {
      font-size: 28px;
      font-weight: bold;

      @media (max-width:375px) {
        font-size: 12px;
      }
    }

  }

  @for $d from 1 through $max6 {
    .wheel-item-6-#{$d} {
      transform: rotate(((($d - 1)*60)+deg));

      &::before {
        transform: rotate(60deg);
      }
    }
  }

  @for $d from 1 through $max20 {
    .wheel-item-20-#{$d} {
      transform: rotate(((($d - 1)*18)+deg));

      &::before {
        transform: rotate(18deg);
      }
    }
  }
}